@using Demo.ViewModels
@model TraineeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h3 style="color:@ViewData["color"]">@Model.TraineeId:::@Model.Name:::@Model.DepartmentName:::@Model.Grade</h3>
</div>
